extends ./layout/index

block contenido 
  main.container.mt-5
    .row 
      .col-md-5
        img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, corporis? Beatae labore saepe corporis omnis velit neque reiciendis molestiae sint, excepturi quisquam, dignissimos adipisci! Omnis nihil a libero ducimus doloremque.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi laudantium ducimus pariatur at dignissimos. Sit obcaecati, vero tempore soluta quasi nam et sint possimus magnam est, esse, dolor voluptas maxime.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magni praesentium laboriosam id rem libero. Omnis praesentium dolorum nihil ipsum, maiores esse laboriosam tempora impedit architecto sequi quae ex perferendis!
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, obcaecati non pariatur neque, inventore ipsam iusto facilis dolorem commodi consequuntur ex nisi accusamus dolorum quas enim soluta! Fuga, alias libero.
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, obcaecati non pariatur neque, inventore ipsam iusto facilis dolorem commodi consequuntur ex nisi accusamus dolorum quas enim soluta! Fuga, alias libero.
        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4  Los mejores precios
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, obcaecati non pariatur neque, inventore ipsam iusto facilis dolorem commodi consequuntur ex nisi accusamus dolorum quas enim soluta! Fuga, alias libero.

